.chatWindow {
  width: auto;
  height: 600px;
  position: fixed;
  top: 50px;
  left: 300px;
  background: #DEE5EE;
  z-index: 9999;
}
.chatWindow .chatWindow-header {
  width: 100%;
  height: 40px;
  background: #EBF1F6;
  text-align: left;
  overflow: hidden;
}
.chatWindow .chatWindow-header .chatWindow-header-name {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  color: #707E87;
  font-size: 16px;
  font-weight: 600;
}
.chatWindow .chatWindow-header .chatWindow-header-close {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 100%;
  float: right;
  line-height: 40px;
  padding-right: 15px;
  cursor: pointer;
  text-align: center;
}
.chatWindow .chatWindow-header .chatWindow-header-close:hover {
  font-size: 16px;
}
.chatWindow .chatWindow-body {
  width: 700px;
  height: 560px;
  display: inline-block;
  vertical-align: top;
}
.chatWindow .chatWindow-body .chatWindow-body-chat-box {
  width: 670px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}
.chatWindow .chatWindow-body .chatWindow-body-chat-box .chatWindow-body-chat {
  width: 102%;
  padding-bottom: 150px;
  height: 400px;
  overflow: auto;
  background: #F5F5F5;
}
.chatWindow .chatWindow-body .chatWindow-body-chat-box .chatWindow-body-chat .msgContent {
  width: 100%;
  padding: 15px 10px;
  overflow: hidden;
}
.chatWindow .chatWindow-body .chatWindow-body-chat-box .chatWindow-body-chat .msgContent .msgContent-time {
  width: 100%;
}
.chatWindow .chatWindow-body .chatWindow-body-chat-box .chatWindow-body-chat .msgContent .msgContent-time .msgContent-time-span {
  text-align: center;
  font-size: 12px;
  height: 20px;
  background: #DADADA;
  color: #fff;
  line-height: 20px;
  padding: 0px 5px;
  border-radius: 4px;
}
.chatWindow .chatWindow-body .chatWindow-body-chat-box .chatWindow-body-chat .msgContent .msgContent-container {
  width: 50%;
  margin-top: 15px;
  position: relative;
}
.chatWindow .chatWindow-body .chatWindow-body-chat-box .chatWindow-body-chat .msgContent .msgContent-container.direction-left .msgContent-container-avator {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 4px;
  top: 30%;
  transform: translateY(-50%);
}
.chatWindow .chatWindow-body .chatWindow-body-chat-box .chatWindow-body-chat .msgContent .msgContent-container.direction-left .msgContent-container-content {
  width: max-content;
  max-width: 100%;
  word-break: break-all;
  padding-left: 45px;
  float: left;
}
.chatWindow .chatWindow-body .chatWindow-body-chat-box .chatWindow-body-chat .msgContent .msgContent-container.direction-left .msgContent-container-content .msgContent-container-content-box {
  background: #fff;
  width: 100%;
  min-height: 30px;
  text-align: left;
  padding: 2px 5px;
  border-radius: 4px;
}
.chatWindow .chatWindow-body .chatWindow-body-chat-box .chatWindow-body-chat .msgContent .msgContent-container.direction-left .msgContent-container-content .msgContent-container-file-box {
  width: 100%;
  min-height: 30px;
  text-align: left;
  padding: 2px 5px;
  border-radius: 4px;
  cursor: pointer;
}
.chatWindow .chatWindow-body .chatWindow-body-chat-box .chatWindow-body-chat .msgContent .msgContent-container.direction-right .msgContent-container-avator {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 4px;
  top: 30%;
  transform: translateY(-50%);
}
.chatWindow .chatWindow-body .chatWindow-body-chat-box .chatWindow-body-chat .msgContent .msgContent-container.direction-right .msgContent-container-content {
  width: max-content;
  max-width: 100%;
  word-break: break-all;
  padding-right: 45px;
  float: right;
}
.chatWindow .chatWindow-body .chatWindow-body-chat-box .chatWindow-body-chat .msgContent .msgContent-container.direction-right .msgContent-container-content .msgContent-container-content-box {
  background: #fff;
  min-height: 30px;
  text-align: left;
  padding: 2px 5px;
  border-radius: 4px;
  overflow: hidden;
}
.chatWindow .chatWindow-body .chatWindow-body-toolbar {
  width: 670px;
  height: 30px;
  margin: 0 auto;
  background: #EBF1F6;
}
.chatWindow .chatWindow-body .chatWindow-body-toolbar ul {
  width: 100%;
  text-align: left;
  padding-left: 0;
}
.chatWindow .chatWindow-body .chatWindow-body-toolbar ul li {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
}
.chatWindow .chatWindow-body .chatWindow-body-toolbar ul li:hover {
  font-size: 18px;
}
.chatWindow .chatWindow-body .chatWindow-body-reply {
  width: 670px;
  height: 80px;
  margin: 0 auto;
  background: #f5f5f5;
  text-align: left;
  padding: 10px;
  overflow: auto;
}
.chatWindow .chatWindow-body .chatWindow-body-btnBox {
  width: 670px;
  margin: 5px auto;
  height: 30px;
  text-align: right;
}
.chatWindow .chatWindow-video {
  display: inline-block;
  vertical-align: top;
}
.chat-file {
  display: block;
  width: 200px;
  box-shadow: inset #999999 0px 0px 4px;
  background: #fff;
}
.chat-file .chat-img {
  width: 100%;
  display: block;
}
.chat-file .chat-file-name {
  width: 120px;
  display: inline-block;
  vertical-align: middle;
  word-break: break-all;
  line-height: 16px;
  padding-left: 10px;
}
.chat-file .chat-file-img {
  width: 50px;
  margin-left: 10px;
}
/*# sourceMappingURL=chatWindow.css.map */